pip
streamlit
gensim
nltk==3.8.1
numpy
tensorflow==2.18.0
keras==3.6.0
matplotlib
seaborn
scikit-learn
langdetect
deep-translator
pandas
transformers==4.28.0
torch==2.0.0
textblob-aptagger